
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.img-responsive {
	max-width: 100%;
	width: 100%;
}

@font-face {
  font-family: "Flexo";
  src: url("../docs/assets/font/Flexo/Flexo-Light.otf");
}

header {
	font-family: 'Flexo', serif;
	background: #ef5350;
	color: whitesmoke;
	height: 18vh;
	padding: 2% 0;
	font-size: 300%;
	font-weight: 800;
}

/*--------------------------- SEARCH ---------------------------------*/
.search {
	padding: 2% 0;
}

#btn-search {
	background: rgb(227, 105, 110);
	font-weight: 600;
}

/*----------------------------------contenedor pokemon ------------------------*/
.mis-pokemon {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.profilePokemon {
	box-sizing: border-box;
	width: 20%;
	margin: 1%;
	padding: 0 auto;
	border: 2px solid black;
	cursor: pointer;
}

